<%- include("../../layouts/head.ejs") %>
<%- include("../../layouts/header.ejs") %>
<main class="container mx-auto flex flex-col pl-2 text-base w-1/2 min-h-[calc(100vh-40px-72px)] pt-4">
    <h2 class="text-2xl text-indigo-700 font-bold mt-8 mb-6">Category Details</h2>

    <p class="mb-2 pb-2 border-b border-b-neutral-500"><strong>Category Name:</strong> <%= category.name %></p>
    <p class="mb-2 pb-2 border-b border-b-neutral-500"><strong>Created
            At:</strong> <%= new Date(category.createdAt).toLocaleString() %></p>

    <div class="flex justify-center items-center mt-4 gap-4">
        <a href="/admin/categories/edit/<%= category._id %>"
           class="px-8 py-2 rounded-md bg-indigo-700 text-white text-base shadow-md hover:shadow-lg hover:bg-indigo-800">
            Edit
        </a>

        <form method="POST" action="/admin/categories/delete/<%= category._id %>" style="display: inline">
            <button class="px-8 py-2 rounded-md bg-red-700 text-white text-base shadow-md hover:shadow-lg hover:bg-red-800">
                Delete
            </button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form>
        <a href="/admin/categories" class="underline underline-offset-4 text-indigo-700">
            Back to List
        </a>
    </div>
</main>

<%- include("../../layouts/footer.ejs") %>
