<header class="flex items-center justify-between shadow-md p-4">
    <a href="/"><img src="/images/logo.png" alt="Logo" class="w-16 h-16"/></a>
    <% if (user) { %>
        <% if (user.isAdmin) { %>
            <div class="flex content-start gap-6">
                <a href="/admin/questions">Questions</a>
                <a href="/admin/categories">Categories</a>
                <a href="/admin/difficulties">Difficulties</a>
            </div>
        <% } %>
        <div class="flex items-center gap-6">
            <div class="flex items-center gap-4">
                <div class="rounded-full bg-indigo-800 uppercase text-white border border-white w-[40px] h-[40px] flex items-center justify-center"><%= user.username.slice(0, 1) %></div><%= user.username %>
            </div>
            <form method="POST" action="/auth/logoff">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
                <button class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-300">
                    Logout
                </button>
            </form>
        </div>
    <% } %>
</header>
<% if (errors) {
errors.forEach((err) => { %>
    <div class="absolute right-2 top-2 p-4 bg-red-400 text-white rounded-md">
        Error: <%= err %>
    </div>
<% })
} %>
<% if (info) {
info.forEach((msg) => { %>
    <div>
        Info: <%= msg %>
    </div>
<% })
} %>

