<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Questions List</h2>
<a href="/admin/questions/new">New Question</a>
<table id="questions-table">
    <tr id="questions-table-header">
        <th>Question</th>
        <th>Category</th>
        <th>Difficulty</th>
        <th>Type</th>
        <th>Created At</th>
        <th>Options</th>
        <th colspan="2"></th>
    </tr>
    <% if (questions && questions.length) { %>
        <% questions.forEach((question) => { %>
            <tr>
                <td><%= question.questionText %></td>
                <td><%= question.categoryId ? question.categoryId.name : 'Unknown' %></td>
                <td><%= question.difficultyId ? question.difficultyId.level : 'Unknown' %></td>
                <td><%= question.type %></td>
                <td><%= new Date(question.createdAt).toLocaleDateString() %></td>
                <td>
                    <% question.options.forEach(option => { %>
                        <%= option.id %>: <%= option.text %><br>
                    <% }) %>
                </td>
                <td>
                    <a href="/admin/questions/edit/<%= question.id %>">
                        <button type="button">edit</button>
                    </a>
                </td>
                <td>
                    <form method="POST" action="/admin/questions/delete/<%= question.id %>" style="display: inline">
                        <button>delete</button>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                    </form>
                </td>
            </tr>
        <% }) %>
    <% } %>
</table>
<%- include("partials/footer.ejs") %>
