<%- include("../layouts/head.ejs") %>
<%- include("../layouts/header.ejs") %>

<h1>
    Your results
</h1>

<div class="fields">
    <p><%= score %> / <%= total %></p>
</div>

<a href="/quiz">Start the game</a>

<%- include("../layouts/footer.ejs") %>
