<%- include("../../layouts/head.ejs") %>
<%- include("../../layouts/header.ejs") %>

<h2>Edit Question</h2>

<%- include("_form.ejs") %>

<div>
    <a href="/admin/questions/<%= question._id %>">Show this Question</a>
    <a href="/admin/questions">Back to Questions</a>
</div>

<%- include("../../layouts/footer.ejs") %>
